<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
<script src="app.js"></script>

<div ng-app="sampleApp" ng-controller="ProfileCtrl">
  <!-- $id is a special meta variable containing the object's key in our Firebase database.
  In this case, it would be "physicsmarie" -->
  <!--<h3>Edit {{ profile }}</h3> -->
  <h3>Edit {{ profile.$id }}</h3>

  <label>Name:</label>
  <!-- this input field synchronizes directly to the name attribute in our Firebase database! -->
  <input type="text" ng-model="profile.number">
  <!--<input type="text" ng-model= profile.number > -->
  
</div>
